.index-header {
    position: relative;
    border-bottom: 1px solid black;
}

.banner-text {
    position: absolute;
    bottom: 0;
    height: 60%;
    color: white;
    margin-left: 2.5%;
    text-wrap: pretty;
    z-index: 2;
}


.banner-header {
    font-size: clamp(2.5rem, 4.5vw, 4.25rem);
    font-weight: 700;
}

.banner-sub-header {
    font-size: clamp(1rem, 2vw, 1.75rem);
    font-weight: 400;
}

.shop-button {
    all: unset;
    border: 1px solid black;
    color: white;
    padding: .25em 2.5em;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    margin: 1em auto;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    cursor: pointer;
}