header {
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 0;
    height: 60%;
    color: white;
    margin-left: 2.5%;
    text-wrap: pretty;
}

.shadow {
    color: #fff;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000;

}

.banner-header {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 700;
}

.banner-sub-header {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 400;
}

.shop-button {
    all: unset;
    border: 1px solid black;
    padding: .5em 3em;
    border-radius: 100px;
    background-color: black;
    text-align: center;
    margin: 1em auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    cursor: pointer;
}