nav {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 9999;
}

.navbar-left-flex {
    position: relative;
}

.navbar-link-container {
    position: absolute;
    top: 49%;
    left: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-size: 1.125em;
}