nav {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 9999;
}

.navbar-left-flex {
    position: relative;
}

.navbar-right-flex > img {
    cursor: pointer;
    margin-right: 1em;
}

.navbar-link-container {
    position: absolute;
    top: 49%;
    left: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-size: 1.125em;
}

/* mobile navbar */
.mobile-navbar-right-flex {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

/* mobile sidebar */
.mobile-sidebar-container {
    position: absolute;
    width: 80%;
    height: 100dvh;
    border: 1px solid black;
    border-radius: 10px;
    right: -10px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.998);
    display: flex;
    justify-content: center;
}

.mobile-sidebar-container svg {
    position: absolute;
    top: 10px;
    right: 20px;
}

.mobile-sidebar-container ul {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

