.shop-item {
    border: 1px solid black;
    margin-bottom: 1em;
}

.shop-container {
    padding: 1em;
}

.shop-image,
.shop-item>.shop-button {
    margin: 0 auto;
    text-align: center;
    display: block;

}

@media (min-width: 800px) {
    .shop-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .shop-item .image-component * {
        left: 0;
    }

}

@media (min-width: 1200px) {
    .shop-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}